<div style="position: relative">

  <div class="header-dialog">
    <h1 mat-dialog-title>Featured Product</h1>
  </div>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()"
        #templateForm="ngForm"
        fxLayout="column"
        fxLayoutAlign="space-around center">

    <!--    <div (click)="onHoldInputData()" class="imag-view" [routerLink]="['/' + adminBaseUrl, 'image-gallery']"-->
    <!--         [state]="{url: router.url}">-->
    <!--      <img [src]="pickedImage" alt="">-->
    <!--    </div>-->

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of featureProductTypes" [value]="type.value">
          {{  type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>priority</mat-label>
      <input formControlName="priority" matInput placeholder="Enter priority" digitOnly>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <div class="select-product">
      <button type="button" mat-raised-button color="accent" (click)="openComponentDialog()">
        <mat-icon>add</mat-icon>
        Choose Product
      </button>
    </div>
    <div class="save-btn">
      <button mat-raised-button color="primary" type="submit">{{ id ? 'Edit Featured Product' : 'Add Featured Product'}}</button>
    </div>
  </form>

  <div class="product-view" *ngIf="product">
    <div class="table-container">
      <table>
        <thead>
        <tr class="table-head">
          <th scope="col">{{'Name'}}</th>
          <th scope="col">{{'Image'}}</th>
          <th scope="col">{{'SKU'}}</th>
          <th scope="col">{{'Category'}}</th>
          <th scope="col">{{'Retail Price'}}</th>
          <th scope="col">{{'Sale Price'}}</th>
          <th scope="col">{{'Available'}}</th>
          <th scope="col">{{'Details'}}</th>
        </tr>
        </thead> <!-- End Table Head -->
        <tr>
          <td [attr.data-label]="'Name'">{{product?.productName}}</td>
          <td [attr.data-label]="'Image'">
            <img [src]="product.images && product.images.length > 0 ? product?.images[0] : '/assets/images/placeholder/test.png'" [alt]="product?.productName">
          </td>
          <td [attr.data-label]="'SKU'">{{product?.sku}}</td>
          <td [attr.data-label]="'Category'">{{product?.categorySlug}}</td>
          <td [attr.data-label]="'Retail Price'">৳ {{product?.price}}</td>
          <td [attr.data-label]="'Sale Price'">৳ {{product | price: 'priceWithDiscount'}}</td>
          <td [attr.data-label]="'Available'">{{product?.quantity}}</td>
          <td [attr.data-label]="'Details'">
            <a class="link-hover" [href]="'/product-details/' + product?.productSlug" target="_blank" mat-icon-button>
              <mat-icon>visibility</mat-icon>
            </a>
          </td>
        </tr><!-- End Table Body -->

      </table>

    </div>
  </div> <!-- Product View Table -->
</div>



