<!----***********section1-seller-account-access-area*********-->
<div class="" style="padding: 16px 0;"></div>
<section class="seller-access">
  <div class="container">
    <div class="seller-access-details">
      <div class="seller-singup-area">
        <div class="seller-singup-title">
          <h2>READY TO BECOME</h2>
          <h1>A ESQUIRE SELLER ?</h1>
        </div>
        <div class="seller-singup-pragraph">
          <p>Reach more than 10 milion customers all over
            The Bangladesh through your offline & online business</p>
        </div>
        <div class="seller-singup-btn">
          <a routerLink="/registration">Sing Up</a>

        </div>
      </div>
      <div class="seller-login-area">
        <div class="seller-login-title">
          <h1>Already a Seller ?</h1>
        </div>
        <div class="seller-login-pragraph">
          <p>Then just click to signup button bellow & be a Esquire Seller now.</p>
        </div>
        <div class="seller-login-btn">
          <a routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!---******sell-steps************-->
<section class="sell-steps">
  <div class="container">
    <div class="sell-step-title">
      <h1>Sell in 3 Easy Steps!</h1>
      <p>Your Success is start form here</p>
    </div>
    <div class="sell-step-img">
      <div class="img1">
        <a href="#" target="_blank"><img src="/assets/images/junk/item1.png" alt="item1.png"></a>
      </div>
      <div class="img2">
        <a href="#" target="_blank"><img src="/assets/images/junk/item2.png" alt="item2.png"></a>
      </div>
      <div class="img3">
        <a href="#" target="_blank"><img src="/assets/images/junk/item3.png" alt="item3.png"></a>
      </div>

    </div>
  </div>
</section>

<!---******video-section********-->

<section class="video-area">
  <div class="container">
    <div class="video-details">
      <div class="video-left">
        <div>
          <div class="video-text">
            <h2>WANT TO BE A</h2>
            <h1>ESQUIRE SELLER</h1>
          </div>
          <div class="video-img">
            <img src="/assets/images/junk/7563ee966897d1a0c1c2b92d5e23fee8.jpg"
                 alt="7563ee966897d1a0c1c2b92d5e23fee8.jpg">
          </div>
        </div>
      </div>
      <div class="grid-item-video">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/TcMBFSGVi1c" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
    </div>
  </div>
</section>

<!---seller-details-->
<section class="seller-details">

  <owl-carousel-o class="slick-carousel" [options]="carouselCtrService.vendorCarouselConfig">
    <ng-container *ngFor="let f of [1,2,3]">
      <ng-template carouselSlide>
        <div class="container">
          <div class="seller-details-main">
            <div class="seller-img">
              <img src="/assets/images/junk/9c081444f942cc8fe0ddf55631b584e2.jpg" alt="9c081444f942cc8fe0ddf55631b584e2.jpg">
            </div>
            <div class="seller-text-details">
              <div>
                <h2>Tim Shao, Managing Director,Realme Bangladesh.</h2>
                <h3>Exclusive Launches and Exciting Deals</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima molestias architecto, quis labore neque
                  atque deserunt voluptas nisi id tempore veniam itaque quisquam a, saepe expedita exercitationem unde cumque
                  vitae quibusdam dicta vel voluptatum libero quidem. Vel expedita commodi tenetur quibusdam? Nemo et, nobis
                  rem veritatis illum dolor deserunt ut facere alias enim autem repellat quo aspernatur omnis, aliquam
                  vitae?</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>


</section>


<!--********asked-question************-->
<section class="asked-question">
  <div class="container">
    <div class="asked-title">
      <h1>FREQUENTLY ASKED QUESTIONS</h1>
    </div>
    <div class="question">
      <div class="question-text">
        <h2>1. Do you tell me about orajon in detail?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book</p>
      </div>
      <div class="question-text">
        <h2>2. Do you tell me about orajon in detail?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book</p>
      </div>
      <div class="question-text">
        <h2>3. Do you tell me about orajon in detail?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book</p>
      </div>
      <div class="question-text">
        <h2>4. Do you tell me about orajon in detail?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book</p>
      </div>
      <div class="question-text">
        <h2>5. Do you tell me about orajon in detail?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book</p>
      </div>
      <div class="question-text">
        <h2>6. Do you tell me about orajon in detail?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book</p>
      </div>
    </div>
  </div>
</section>
