<!---******* section1-menu *****-->
<div class="section1-menu">
  <div class="container">
    <ul>
      <li><a href="#">Home</a></li>
    </ul>
  </div>
</div>



<!---****** section1 *****-->
<section class="section-1">
  <div class="container">
    <div class="section1-main">

      <!---***** section1-details-area *****-->
      <div class="cooming-soon">
        <div class="rotate-img-top">
          <img src="/assets/images/coming-soon/45d10e_cbb051ec97bc4427a44a66d0f9a8147e~mv2.gif" alt="">
        </div>

        <div class="cooming-soon-details">
          <h1>coming soon</h1>
          <div class="desc">
            <h4>This page will be launch in our website very soon!</h4>
          </div>
          <div class="link">
            <a routerLink="/">Go To Home</a>
          </div>
          <div class="plus-img">
            <img src="/assets/images/coming-soon/45d10e_74dd03e6ebde46ad8d20a9c8b222f870~mv2.gif" alt="">
          </div>
        </div>
        <div class="rotate-img-bottom">
          <div class="left-img">
            <img src="/assets/images/coming-soon/45d10e_2e61ebde4b4b4fa2b9f09e10add2698d~mv2.gif" alt="">
          </div>
          <div class="right-img">
            <img src="/assets/images/coming-soon/45d10e_9c2e49ec2160415e9d13d5dd1c0a31f9~mv2.gif" alt="">
          </div>
        </div>

      </div>


    </div>
  </div>
</section>
