@import "../../../../../theme/exports/table-one";


.header-dialog {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.color-pick {
  a {
    color: #3b5998;
    &:hover {
      color: #012884;
    }
  }
}


form{
  width: 450px;
  margin: 20px auto;

  .imag-view {
    img {
      cursor: pointer;
      border: 2px solid #c9c9c9;
      width: 100px;
      height: 100px;
      object-fit: contain;
      border-radius: 85px;
      transition: 0.3s all linear;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  mat-form-field{
    width: 100%;
  }

  .select-product {
    margin: 12px 0;
    button {
      width: 280px;
      padding: 16px;
      font-size: 15px;
      text-transform: uppercase;
    }
  }

  .save-btn {
    button {
      width: auto;
      padding: 5px 32px;
      border-radius: 50px;
    }
  }

  button {
    ::ng-deep {
      span {
        color: #FFFFFF;
      }
    }
  }
}

.product-view {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 30px;
}


.table-image {
  width: 140px;
  height: 100px;
  object-fit: scale-down;
}

.link-hover {
  transition: 0.3s all linear;
  &:hover {
    ::ng-deep {
      span {
        color: #3b5998;
      }
    }
  }
}
