

form {
  width: 100%;
  max-width: 850px;
  margin: 45px auto;

  mat-form-field {
    width: 100%;
  }
}

.table-row {
  width: 100%;
}

.title {
  width: 100%;
  padding-bottom: 10px;
  h4 {
    color: #ff8b10;
  }
}

.action {
  width: 100%;
  display: flex;
  margin: 12px 0;

  button {
    ::ng-deep {
      span {
        color: #FFFFFF;
      }
    }
  }
}
