<!----product-details-area-->
<div class="product-details-area">
  <div class="container-mobile">
    <!---product-details-main-->
    <div class="product-details-main">
      <!---product-img-slide-area-->
      <div class="carousel">
            <swiper [loop]="true" 
            [autoplay]="{
              delay: 5000,
              disableOnInteraction:false
            }" 
            [pagination]="{
              clickable: true
            }"
            class="mySwiper"
          >
            <ng-template swiperSlide *ngFor="let c of [1,2,3,4,5,6]">
              <div class="product-img">
                <img src="./../../../assets/images/junk/Orange_Sneakers_PNG_Clipart-391.png" alt="">
              </div>
            </ng-template>
          </swiper>
      </div>
      <!---produt-title-area-->
      <div class="product-title-area">
        <a href="#">Parma Mens Sports Shoe</a>

        <!---product-rating-area-->
        <div class="product-rating-area">
          <div class="rating">
            <ul>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
          </div>
          <!---rating-text-->
          <div class="rating-text">
            <h3><a href="#">10 Ratings</a> <span> | </span> <a href="#">12 answered questions</a></h3>
          </div>
        </div>
        
      </div>

        <!----product-details-midle-info-->
        <div class="product-details-midle-info">
          <!---product-price-info-->
          <div class="product-price-info">
            <!---price-->
            <div class="price-area">
              <!--main-price-->
              <div class="main-price">
                <h3>1250 TK</h3>
              </div>
              <!---discount-->
              <div class="discount">
                <span>1000</span>
              </div>
              <!---discount-parcent-->
              <div class="discount-parcent">
                <span>-12%</span>
              </div>
            </div>
            <!--stock-area-->
            <div class="stock-badge">
              <span>In Stock: 84 Pcs</span>
            </div>
          </div><!---price-end-->
          <!---coin-info-->
          <div class="coin-info">
            <ul>
              <li>Pay 800 TK + Earn 500</li>
              <li>Pay 1200 TK + Earn 500</li>
            </ul>
          </div><!---coin-end-->
          <!---product-quntity-size-info-->
          <div class="product-quantity-size-info-main">
            <!---size-info-->
            <div class="product-quantity-size-info">
              <!--left-->
              <div class="product-quantity-size-info-left">
                <span>Size:</span>
              </div>
              <!--right-->
              <div class="product-quantity-size-info-right">
                <ul class="size">
                  <li><button type="button">39</button></li>
                  <li><button type="button">40</button></li>
                  <li><button type="button">41</button></li>
                  <li><button type="button">42</button></li>
                  <li><button type="button">43</button></li>
                  <li><button type="button">44</button></li>
                </ul>
              </div>
            </div><!---end-->

             <!---quantity-info-->
             <div class="product-quantity-size-info">
              <!--left-->
              <div class="product-quantity-size-info-left">
                <span>Quantity:</span>
              </div>
              <!--right-->
              <div class="product-quantity-size-info-right">
                <ul class="quantity">
                  <li><button type="button" id="mine">-</button></li>
                  <li><input type="button" type="text" value="1"></li>
                  <li><button type="button" id="plus">+</button></li>
                </ul>
              </div>
            </div><!---end-->

             <!---color-info-->
             <div class="product-quantity-size-info">
              <!--left-->
              <div class="product-quantity-size-info-left">
                <span>Color:</span>
              </div>
              <!--right-->
              <div class="product-quantity-size-info-right">
                <ul class="color">
                  <li><img src="./assets/images/junk/252-2523504_sneakers-running-shoes-mockup-sport-shoes-png.png" alt=""></li>
                  <li><img src="./assets/images/junk/Orange_Sneakers_PNG_Clipart-391.png" alt=""></li>
                  <li><img src="./assets/images/junk/252-2523504_sneakers-running-shoes-mockup-sport-shoes-png.png" alt=""></li>
                </ul>
              </div>
            </div><!---end-->


          </div>



        </div><!---midle-end-->

      <!---product-cart-btn-->
      <div class="product-btn">
        <button [class]="btnActive?'inactive-btn':'active-btn'" (click)="activeBookBtn()" type="button">Buy Now</button>
        <button [class]="btnActive?'active-btn':'inactive-btn'" routerLink="/cart" (click)="activeCartBtn()" type="button">Add to Cart</button>
      </div>

      <!---product-bottom-info-->
      <div class="product-bottom-info">
        <!---product-description-->
        <div class="product-bottom-details">
          <!---togle-btn-->
          <div class="toggle-btn">
            <button type="button" (click)="descriptionToggle()" 
            [class]="descriptionBtn?'toggle-btn-active ':'toggle-btn-inactive '"><span>Description</span> 
              <i class="fa fa-chevron-down" *ngIf="descriptionBtn == false"></i>
              <i class="fa fa-chevron-up" *ngIf="descriptionBtn == true"></i>
            </button>
          </div>

        </div>
         <!---product-description-->
         <div class="product-bottom-details">
          <!---togle-btn-->
          <div class="toggle-btn">
            <button type="button" (click)="shippingToggle()"  
            [class]="shippingBtn?'toggle-btn-active ':'toggle-btn-inactive '"><span>Shipping & Returns </span> 
              <i class="fa fa-chevron-down" *ngIf=" shippingBtn == false"></i>
              <i class="fa fa-chevron-up" *ngIf=" shippingBtn == true"></i>
            </button>
          </div>

        </div>
         <!---product-description-->
         <div class="product-bottom-details">
          <!---togle-btn-->
          <div class="toggle-btn">
            <button type="button" (click)="reviewToggle()" 
            [class]="reviewBtn?'toggle-btn-active ':'toggle-btn-inactive '"><span>Reviews</span> 
              <i class="fa fa-chevron-down" *ngIf=" reviewBtn == false"></i>
              <i class="fa fa-chevron-up" *ngIf="  reviewBtn == true"></i>
            </button>
          </div>

        </div>


      </div>
     



    </div>
  </div>
</div>

<section class="section-2">
  <div class="container-mobile">

    <div class="title-area">
      <!---title-->
      <div class="title">
        <h3>Related Products</h3>
      </div>
      <!--see-btn-->
      <div class="see-btn">
        <a href="#">view all</a>
      </div>
    </div>

    <div class="section2-main carousel">
      <swiper [slidesPerView]="1"
      [breakpoints]="{
        '0':{
          slidesPerView:2,
          spaceBetween: 7
        },
        '420': {
          slidesPerView: 2.4,
          spaceBetween: 7
        },
        '515': {
          slidesPerView: 3,
          spaceBetween: 7
        }
      }"
      [pagination]="{
        clickable: true
      }"
      [autoplay]="true"
      [navigation]="true"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let data of [1,2,3,4,5,6]">
        <app-product-card-one></app-product-card-one>
        </ng-template>
    </swiper>
    </div>


  </div>
</section><!--END RECOMMENDED SECTION VIEW-->



<!-- LOADING TEMPLATE -->
<!-- <ngx-spinner style="width: 100vw; height: 100vh" bdColor="rgba(0,0,0,0.25)" size="medium" color="#fff"
             type="ball-clip-rotate" [fullScreen]="true"><p style="color: white"> Loading... </p></ngx-spinner> -->
