<div style="position: relative">

  <div class="header-dialog">
    <h1>Promo advertisement page</h1>
  </div>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="space-around center">

    <div (click)="onHoldInputData()" class="imag-view"
         [routerLink]="[id ? '../../../' : '../../', 'image-gallery']"
         [state]="{url: router.url}">
      <img [src]="pickedImage" alt="">
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="promoName" matInput placeholder="Enter Title">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Router Link</mat-label>
      <input formControlName="routerLink" matInput placeholder="Enter router link" required>
    </mat-form-field>


    <div class="action">

      <button [fxHide]="promoPage" class="submit-btn" mat-raised-button color="accent" type="submit">
        <mat-icon>done</mat-icon>
        Save Data
      </button>

      <button [fxHide]="!promoPage" class="submit-btn" mat-raised-button color="warn" type="button" (click)="openConfirmDialog()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>

    </div>

  </form>
</div>



<!-- LOADING TEMPLATE -->
<ngx-spinner style="width: 100vw; height: 100vh" bdColor="rgba(0,0,0,0.25)" size="medium" color="#fff"
             type="ball-clip-rotate" [fullScreen]="true"><p style="color: white"> Loading... </p></ngx-spinner>



