<div class="resturant-food-details">
  <div class="food-img">
    <img src="/assets/images/junk/herfy_cover_1617035093368.jpg" alt="herfy_cover_1617035093368">
    <div class="food-discount">
      <span>15% off</span>
    </div>
  </div>
  <div class="food-content">
    <div class="food-content-img">
      <img src="/assets/images/junk/herfy.png" alt="Sultans Logo">
    </div>
    <div class="food-content-text">
      <a href="#" target="_blank">Herfy - Mirpur, Dhaka</a>
      <h3>Fast Food - Burger - Sandwich</h3>
    </div>
  </div>
  <div class="food-footer clearfix">
    <div class="food-like">
      <span><i class="fa fa-heart" id="heart"></i> <small>70</small></span>
    </div>
    <div class="food-order">
      <ul>
        <li><a href="#" target="blank">order</a></li>
        <li> <small><span>৳</span>450</small></li>
        <li><small>45 mins</small></li>
      </ul>
    </div>
  </div>
</div>
