<!---product-card-two-->
<div class="card2"  routerLink="product-details">
  <div class="card2-img">
    <img src="../.../../../../assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="">
  </div>
  <!--card-body-->
  <div class="card2-body">
    <div class="card2-top">
      <!--card-title-->
      <div class="card2-title">
        <a href="#">Breathable Men Snakers</a>
      </div>
      <!--discount-->
      <div class="discount">
        <span>-12%</span>
      </div>
    </div>
    <!---card2-price-->
    <div class="card2-price">
      <div class="card2-amount">
        <span>4280 TK</span>
      </div>
      <!---rating-area-->
      <div class="card2-rating">
        <ul>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div><!---card2-end-->