@import "src/theme/variables";

.blog-container {
  width: 100%;
  max-width: $theme-container-width;
  margin: 0 auto;
  padding: 36px 0;
}


/******************
    section-2
******************/
.section-2 {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.section2-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px 15px;
}

/*** card ***/
.card {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.card-img {
  display: block;
  margin-bottom: 10px;
  border-radius: 7px;
  overflow: hidden;
}

.card-img img {
  display: block;
  width: 100%;
  min-height: 200px;
  border-radius: 6px;
  transition: all 0.3s linear;
}

.card:hover img {
  transform: scale(1.05);
}

.card-title {
  display: block;
  margin-bottom: 6px;
}

.card-title h2 {
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: block;
  line-height: 27px;
  color: #020554;
}

.card-description {
  display: block;
  margin-bottom: 20px;
}

.card-description p {
  color: #757575;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-size: 14.6px;
  display: block;
  line-height: 20px;
  font-weight: 400;
}

.card-btn {
  display: block;
  width: 100%;
}

.card-btn a {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  display: block;
  max-width: 140px;
  padding: 8px 0;
  text-align: center;
  color: #020554;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.1s linear;
  border: 2px solid #7029fa;
}

.card-btn a:hover {
  background-color: #7029fa;
  color: #fff;
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .5);
}

@media(max-width: 1150px) {
  .section2-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 900px) {
  .section2-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 600px) {
  .section2-main {
    grid-template-columns: repeat(1, 1fr);
  }
}


/****************************
    section-2-end
*****************************/
