<!---product-card-one-->
<div class="card1" routerLink="product-details">
  <div class="card1-img">
    <img src="./assets/images/junk/Factory-Noodles-Sneakers-Breathable-Comfortable-Men-s-Shoe-Shoes-Long-Term-Goods.jpg" alt="">
  </div>
  <!--card-body-->
  <div class="card1-body">
    <!--card-title-->
    <div class="card1-title">
      <a href="#">Breathable Men Snakers</a>
    </div>
    <!---card1-->
    <div class="card1-price">
      <!---rating-area-->
      <div class="card1-rating">
        <ul>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
      </div>
      <div class="card1-amount">
        <span>4280 TK</span>
      </div>
    </div>
  </div>
</div><!---card1-end-->
