<!--<div class="nav">-->
<!--  <app-breadcrumb-soft></app-breadcrumb-soft>-->
<!--</div>-->

<div style="position: relative">
  <mat-spinner *ngIf="isLoading"
               style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto"
  ></mat-spinner>

  <div class="header-dialog">
    <h1 mat-dialog-title>Tag</h1>
    <mat-checkbox [(ngModel)]="autoSlug" (change)="autoGenerateSlug()" color="primary">Auto Slug</mat-checkbox>
  </div>

  <form [formGroup]="dataForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        #templateForm="ngForm"
        fxLayout="column" fxLayoutAlign="space-around center">
    <mat-form-field appearance="outline">
      <mat-label>Tag Name</mat-label>
      <input formControlName="tagName" matInput placeholder="Enter tag name" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tag Slug</mat-label>
      <input formControlName="tagSlug" matInput placeholder="Enter tag slug" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit">{{ tag ? 'Edit Tag' : 'Add Tag' }}</button>
  </form>
</div>


<!-- LOADING TEMPLATE -->
<ngx-spinner style="width: 100vw; height: 100vh" bdColor="rgba(0,0,0,0.25)" size="medium" color="#fff"
             type="ball-clip-rotate" [fullScreen]="true"><p style="color: white"> Loading... </p></ngx-spinner>

