<div style="position: relative">
  <h2 class="header">Store</h2>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()"
        #templateForm="ngForm"
        fxLayout="column"
        fxLayoutAlign="space-around center">
    <mat-form-field appearance="outline">
      <mat-label>Store Name</mat-label>
      <input formControlName="storeName" matInput placeholder="Enter Store Name" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="Enter Store Address" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input formControlName="phoneNumber" matInput placeholder="Enter Store Phone Number" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>District</mat-label>
      <input formControlName="district" matInput placeholder="Enter District Name of Store located" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <input formControlName="country" matInput placeholder="Enter Country Name of Store located" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Map</mat-label>
      <input formControlName="map" matInput placeholder="Enter Store map Iframe" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">{{ store ? 'Edit Store' : 'Add Store' }}</button>
  </form>
</div>


