<div class="container">


  <div class="form-container">

    <div class="title">
      <h2>Change Password</h2>
    </div>

    <form [formGroup]="formData" (ngSubmit)="onSubmitForm()" #formDirective="ngForm">

      <mat-form-field appearance="outline" class="password">
        <mat-label>Old Password</mat-label>
        <input formControlName="oldPassword" required matInput placeholder="Enter Old Password" type="password">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="password">
        <mat-label>New Password</mat-label>
        <input formControlName="newPassword" required matInput placeholder="Enter New Password" type="password">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <div class="forget">
        <a routerLink="/password-recovery">Forget Password ?</a>
      </div>

      <button mat-raised-button color="warn" type="submit">Change Password</button>
    </form>

  </div>

</div>
