@import "src/theme/variables";

.form-container {
  width: 100%;
  max-width: 500px;
  margin: 25px auto;

  .title {
    padding: 12px 0;
  }

  form {

    mat-form-field {
      width: 100%;
    }
    button {
      margin-top: 16px;
    }
  }
  .forget {
    padding: 0 5px;
    a {
      color: #1777f2;
      font-family: $font-en-primary;
      text-decoration: none;
      &:hover {
        color: #5D4037;
      }
    }
  }

  button {
    ::ng-deep span {
      color: #FFFFFF;
    }
  }

}

/**
RESPONSIVE
 */

@media only screen and (max-width: 599px) {
  .form-container {
    padding: 0 12px;
  }
}
