@import "src/theme/variables";

.blog-container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  margin-top: 25vh;
}
.career-esquire-img{
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.career-esquire-img img{
  min-height: 280px;
  width: 100%;
  max-height: 450px;
  height: 100%;
}



/********************
    section1-start
********************/
.section-1 {
  width: 100%;
  min-height: 500px;
  height: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  max-height: 100%;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
}

.section-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, .7), rgba(255, 255, 255, .5), transparent, transparent);
  z-index: -10;

}

.section1-main {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.section1-title {
  display: block;
  margin-bottom: 15px;
}

.section1-title h2 {
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-size: 43px;
  display: block;
  line-height: 55px;
  color: #020554;
}

.section1-description {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.section1-description p {
  color: #757575;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  display: block;
  line-height: 24px;
  font-weight: 400;
}

.section1-btn {
  display: block;
  width: 100%;
}

.section1-btn a {
  background-color: #7029fa;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: block;
  max-width: 180px;
  padding: 12px 0;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .5);
  transition: all 0.1s linear;
  border: 1px solid #7029fa;
}

.section1-btn a:hover {
  transform: scale(1.03);
}

@media(max-width: 500px) {
  .section1-title h2 {
    font-size: 35px;
    line-height: 45px;
  }
}

@media(max-width: 400px) {
  .section1-title {
    margin-bottom: 10px;
  }
  .section1-title h2 {
    font-size: 30px;
    line-height: 37px;
  }
  .section1-description {
    margin-bottom: 20px;
  }
  .section1-description p {
    font-size: 15px;
    line-height: 22px;
  }
  .section1-btn a {
    font-size: 16px;

  }
}

/********************
    section1-end
********************/
