@import "src/theme/variables";

.container {
  width: 100%;
}

.input-area {
  margin-bottom: 10px;

  p {
    font-family: $font-en-primary;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
  }

  .rating {
  }

  .form {
    margin-top: 20px;

    .rating-form-field {
      margin-left: 10px;
      width: 100%;
      max-width: 520px;
    }
  }

  .action {
    padding-left: 10px;
  }
}

.login-card {
  margin-bottom: 10px;
  width: 100%;
  max-width: 520px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cccccc;
  flex-direction: column;
  gap: 10px;
  font-family: $font-en-primary;


  p {

  }

}

.reviews {
  width: 100%;
  font-family: $font-en-primary;
  padding: 0 10px;

  .title {
    h2 {

    }
  }

  .review-list {
    margin-bottom: 8px;
    width: 100%;
    max-width: 860px;

    .item {
      width: 100%;
      padding: 16px 0;
      border-bottom: 1px solid #e2e2e2;
      margin-bottom: 16px;
      display: flex;
      flex-direction: row;
      gap: 16px;

      .img-thumb {
        width: 60px;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }

      .main-view {
        .top {
          display: flex;
          align-items: flex-end;
          gap: 12px;

          .name {
            font-size: 18px;
          }

          .date {
            font-size: 12px;
            font-weight: bold;
            color: #2e3192;
          }
        }

        .rating {
          margin-left: -10px;
        }
      }

    }
  }

}


/**
RESPONSIVE
 */

@media only screen and (max-width: 599px) {
  .input-area {
    //margin-bottom: 10px;
    padding: 0 12px;

    p {
      //font-family: $font-en;
      //font-size: 15px;
      //font-weight: 600;
      //padding-left: 10px;
    }

    .rating {
    }

    .form {
      margin-top: 20px;

      .rating-form-field {
        margin-left: 0;
        width: 100% !important;
      }
    }

    .action {
      //padding-left: 10px;
    }
  }
}
