<!--order-details-->
<div class="order-details-container">
    <!---order--details-page-title-->
    <div class="order-details-page-title">
        <h3>Request Details</h3>
    </div>

    <!---order-details-main-area-->
    <div class="order-details-main">
        <!---order-details-left-->
        <div class="order-details-left">
            <!---order-details-left-top-->
            <div class="order-details-left-top">
                <!---req-id-title-->
                <div class="req-id-title">
                    <h3>Request ID</h3>
                </div>
                <!--write-note-->
                <div class="write-note">
                    <!---status-btn-->
                    <div class="status-btn">
                        <button>Status <i class="fa fa-angle-down"></i></button>
                    </div>
                    <!---add-note-->
                    <div class="add-note">
                        <!--add-note-input-->
                        <div class="add-note-input">
                            <input type="text" value="" name="" placeholder="Write a note for customer">
                        </div>
                        <!--note-add-btn-->
                        <div class="note-add-btn">
                            <button>add</button>
                        </div>
                    </div>
                </div>
            </div> <!---order-details-left-top-end-->
        <!---order-details-table-area-->
         <!---order-table-->
        <div class="order-table">
            <table>
                <!---table-head-->
                <thead>
                    <tr>
                        <th class="check"></th>
                        <th class="si">SI</th>
                        <th class="item">Item Name</th>
                        <th class="price">Unit Price</th>
                        <th class="quantity">Quantity</th>
                        <th class="amount">Amount</th>
                        <th class="order-status"></th>
                    </tr>
                </thead>
                <!---table-body-area-->
                <tbody>
                    <!---data-row-->
                    <tr>
                        <td class="check">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td  class="si">
                           <span>01</span>
                        </td>
                        <td class="item">
                           <a href="#">2021 Fashin men's business casual</a>
                        </td>
                        <td class="price">
                            <span>2.820</span>
                        </td>
                        <td class="quantity">
                            <a href="#">03</a>
                        </td>
                        <td class="amount">
                            <span>5.820</span>
                        </td>
                        <td class="order-status">
                            <span>Pending</span>
                        </td>
                    </tr><!---data-row-end-->

                </tbody><!---table-body-area-end-->

            </table><!---table-end-->

        </div><!---table-end-->

        <!---order-payment-details-->
        <div class="order-pay-details">
            <!--modify-btn-area-->
            <div class="modift-btn-area">
                <button>Modify/Add</button>
                <!---paid-by-->
                <div class="paid-by">
                    <div>
                        <span>Paid By:</span>
                    </div>
                    <div>
                        <img src="./assets/images/payments/bkash-icon.png" alt="">
                    </div>
                </div>
            </div>  <!--modify-btn-area-end-->
        <!--payment-summery-area-->
        <div class="payment-summery-area">
            <!---total-->
            <div class="payment-total">
                <ul>
                    <li>
                        <div class="pay-type">
                            <h3>Subtotal:</h3>
                        </div>
                        <div class="pay-amount">
                            <span>11,880 TK</span>
                        </div>
                    </li>
                    <li>
                        <div class="pay-type">
                            <h3>Discount:</h3>
                            <span>(CARE01234)</span>
                        </div>
                        <div class="pay-amount">
                            <span>-350 TK</span>
                        </div>
                    </li>
                    <li>
                        <div class="pay-type">
                            <h3>Shipping:</h3>
                        </div>
                        <div class="pay-amount">
                            <span>700 Tk</span>
                        </div>
                    </li>
                    <li class="total-ammount">
                        <div class="pay-type">
                            <h3>Total:</h3>
                        </div>
                        <div class="pay-amount">
                            <span>12,320 Tk</span>
                        </div>
                    </li>
                    <li >
                        <div class="pay-type">
                            <h3>Paid:</h3>
                        </div>
                        <div >
                            <span>8,500 Tk</span>
                        </div>
                    </li>
                    <li class="total-ammount">
                        <div class="pay-type">
                            <h3>Due:</h3>
                        </div>
                        <div class="pay-amount">
                            <span>3,700 Tk</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div> <!--payment-summery-area-end-->


    </div><!---order-payment-details-end-->
    <!---customer-msg-->
    <div class="customer-msg">
        <h3>Message Form Customer</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero repellat ab esse. At possimus atque maxime itaque consequatur nulla veniam fugiat minus dolorem. Saepe minus laboriosam blanditiis aspernatur sint maiores. Tempore non nesciunt natus laborum. </p>
    </div>
</div> <!---order-details-left-end-->
<!---order-details-right-->
<div class="order-details-right">
    <!---customer-info-->
    <div class="customer-info-area">
        <!--customer-title-->
        <div class="customer-title">
            <h3>Customer Info</h3>
        </div> <!--customer-title-end-->
        <!---customer-info--->
        <div class="customer-info">
            <ul>
                <li>
                    <div class="customer-info-left">
                        <h3>Name:</h3>
                    </div>
                    <div class="customer-info-right">
                        <h4>Shamim</h4>
                    </div>
                </li>
                <li>
                    <div class="customer-info-left">
                        <h3>Phone No:</h3>
                    </div>
                    <div class="customer-info-right">
                        <h4>+8801881325037</h4>
                        <h4>+8801609431842</h4>
                    </div>
                </li>
                <li>
                    <div class="customer-info-left">
                        <h3>Email:</h3>
                    </div>
                    <div class="customer-info-right">
                        <a href="#">autanber111@gmail.com</a>
                    </div>
                </li>
                <li>
                    <div class="customer-info-left">
                        <h3>Email:</h3>
                    </div>
                    <div class="customer-info-right">
                        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing</h4>
                    </div>
                </li>
                <li>
                    <div class="customer-info-left">
                        <h3>Total Order:</h3>
                    </div>
                    <div class="customer-info-right">
                        <h4>01</h4>
                    </div>
                </li>
            </ul>

        </div>

    </div> <!---customer-info-end-->
    <!---comment-->
    <div class="customer-comment">
         <!--customer-title-->
         <div class="customer-title">
            <h3>Comments</h3>
        </div> <!--customer-title-end-->
        <!---customer-comment-main-->
        <div class="customer-comment-main">
            <textarea name="" id="" cols="5" rows="6" placeholder="Write Comments"></textarea>
            <button>Add</button>
        </div>

    </div><!---comment-end-->
    <!---order-confirm-status-->
    <div class="order-confirm-status">
        <!---status-info-->
        <div class="status-info">
            <!--status-check-->
            <div class="status-check">
                <span class="active-status"><i class="fa fa-check"></i></span>
            </div>
            <!--status-type-->
            <div class="status-type">
                <h3>Order Done</h3>
                <p>Order Confirmed by Nashrin Kona</p>
                <p>14 September 2021. 4:22 PM</p>
            </div>
        </div>  <!---status-info-end-->
        <!---status-info-->
         <div class="status-info">
                <!--status-check-->
                <div class="status-check">
                    <span><i class="fa fa-check"></i></span>
                </div>
                <!--status-type-->
                <div class="status-type">
                    <h3>Order Done</h3>
                    <p>Order Confirmed by Nashrin Kona</p>
                    <p>14 September 2021. 4:22 PM</p>
                </div>
        </div>  <!---status-info-end-->
        <!---status-info-->
        <div class="status-info">
            <!--status-check-->
            <div class="status-check">
                <span><i class="fa fa-check"></i></span>
            </div>
            <!--status-type-->
            <div class="status-type">
                <h3>Order Done</h3>
                <p>Order Confirmed by Nashrin Kona</p>
                <p>14 September 2021. 4:22 PM</p>
            </div>
        </div>  <!---status-info-end-->

    </div>


</div><!---order-details-right-end-->



 </div><!---order-details-main-area-end-->
</div>
