@import "../theme/variables";


.title {
  font-family: $bank-gothic-medium;
}

.title-2 {
  font-family: $nexa-bold
}

.title-3 {
  font-family: $nexa-light
}

.title-4 {
  font-family: $cocon-regular
}


.title-5 {
  font-family: $shorif-jonota
}
