<!--*********** section-1 *************-->
<section class="section-1">
  <div class="container">
    <!--***** section1-main ******-->
    <div class="section1-main">
      <!--******* section1-top-area ******-->
      <div class="section1-menu">
        <ul>
          <li><a href="#">Home <span><i class="fa fa-angle-right"></i></span></a></li>
          <li><a href="#">Dealer Locator</a></li>
        </ul>
      </div>
      <div class="section1-details">
        <h2 class="title">Dealer Locator</h2>
        <p>Esquire Electronics Ltd. has many dealers located all across the nation. Authentic <span> SHARP</span> and <span> GENERAL</span> appliances are available at our dealer points. Check out the map below to find your nearest dealer shop.</p>
        <p>Now, you can also become one of our dealers. To become a dealer please contact our hotline number – <span> +8809610001010</span></p>
      </div>
      <div class="section1-btn">
        <a [routerLink]="router.url === '/store-locator'? '/dealer-locator' : '/store-locator'"> {{router.url === '/store-locator'? 'Switch to Dealer Locator' : 'Switch to Store Locator'}}</a>
      </div>
    </div>
  </div>
</section>
