<!----header-area-->
<div class="header-area">
   <div class="container-mobile">
    <div class="header-main">
        <!---header-top-->
       <div class="header-top">
        <div class="header-search-area">
            <form action="">
               <div class="search-box">
                <input type="text" name="" id="" value="" placeholder="Search Now">
               </div>
               <!--search-btn-->
               <div class="search-btn">
                   <button><i class="fa fa-search"></i></button>
               </div>
            </form>
        </div>
        <!--coin-icon-->
        <div class="coin-icon">
            <span><i class="fa fa-coins"></i></span>
        </div>
       </div><!--header-top-end-->
       <!---menu-area-->
       <div class="header-menu" >
           <ul>
               <li><a href="#" class="active-menu">All</a></li>
               <li><a href="#">New</a></li>
               <li><a href="#">Categories</a></li>
               <li><a href="#">Request Product</a></li>
           </ul>
       </div>

    </div>
   </div>
</div>