<!----******** footer-area *************-->

<section class="footer-area">
  <div class="container">

    <!----*******  footer-main-area ******-->
    <div class="footer-main">
      <!---***** footer-details ****--->
      <div class="footer-details">
        <div class="footer-logo">
          <img src="/assets/images/junk/Logo-with-text-white.png" alt="logo">
        </div>
        <div class="footer-description">
          <p>{{footerData?.shortDes}}</p>
        </div>
        <div class="address">
          <h4>Address :</h4>
          <span>{{footerData?.address}}</span>
        </div>
        <div class="contact-link">
          <h3>Phone:<a href="tel:8809610001010">{{footerData?.phone}}</a></h3>
          <h3>Email: <a href="mailto:{{footerData?.email}}"> {{footerData?.email}}
          </a></h3>
        </div>
      </div>

      <!---**** footer-link ******-->
      <div class="footer-link">
        <div class="footer-title">
          <h2>SHOPPING WITH US </h2>
        </div>
        <div class="f-link">
          <ul>
            <li><a routerLink="/pages/why-shop-online-at-esquire-electronics">Why Shop with us</a></li>
            <li><a routerLink="/pages/online-purchase-procedure">Online Purchase Procedure</a></li>
            <li><a routerLink="/pages/online-payment-methods">Online Payment Methods</a></li>
            <li><a routerLink="/pages/online-payment-security">Online Payment Security</a></li>
            <li><a routerLink="/pages/online-partner-websites">Online Partner</a></li>
            <li><a routerLink="/pages/emi-payment-facility">EMI Payment Facility</a></li>
            <li><a routerLink="/pages/shohoj-kisti-facility-installment-facility">Shohoj Kisti Facility</a></li>
            <li><a routerLink="/pages/ipdc-installment-payment-facility">Installment Facility</a></li>
          </ul>
        </div>
      </div>

      <!---**** footer-link ******-->
      <div class="footer-link">
        <div class="footer-title">
          <h2>CUSTOMER SERVICE</h2>
        </div>
        <div class="f-link">
          <ul>
            <li><a routerLink="/after-sales-support">After Sales Support</a></li>
            <li><a routerLink="/contact-service-center">Contact Service Center</a></li>
            <li><a routerLink="/pages/warranty-policy">Warranty Policy</a></li>
            <li><a routerLink="/pages/return-&-refund-policy">Return & Refund Policy</a></li>
            <li><a routerLink="/pages/privacy-policy">Privacy Policy</a></li>
            <li><a routerLink="/pages/terms-and-conditions">Terms & Conditions</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
          </ul>
        </div>
      </div>

      <!---**** footer-link ******-->
      <div class="footer-link">
        <div class="footer-title">
          <h2>USEFUL LINKS</h2>
        </div>
        <div class="f-link">
          <ul>
            <li><a routerLink="/store-locator">Store Locator</a></li>
<!--            <li><a routerLink="/pages/">Dealer Locator</a></li>-->
            <li><a routerLink="/pages/">Site Map</a></li>
            <li><a routerLink="/offers">Promotional Offers</a></li>
            <li><a routerLink="/career-esquire">Career at Esquire Electronics</a></li>
            <li><a routerLink="/pages/warranty-details">Warranty Details</a></li>
            <li><a routerLink="/product-authenticator">Product Authenticator</a></li>
          </ul>
        </div>
      </div>

      <!----****** footer-social-details-area *******-->

      <div class="footer-social-area">
        <div class="footer-title">
          <h2>FOLLOW US</h2>
        </div>
        <div class="social-link">
          <ul>
            <li><a href="https://www.linkedin.com/company/esquireelectronics" target="_blank"><img src="/assets/images/junk/linkedin.svg" alt=""></a></li>
            <li><a href="https://www.instagram.com/Esquire_Electronics/" target="_blank"><img src="/assets/images/junk/instagram.svg" alt=""></a></li>
            <li><a href="https://www.facebook.com/EsquireElectronics/" target="_blank"><img src="/assets/images/junk/facebook.svg" alt=""></a></li>
          </ul>
        </div>
        <div class="app-download">
          <h2>DOWNLOAD APPS</h2>
          <ul>
            <li><a routerLink="/pages/about-us" target="_blank"><img src="/assets/images/junk/button_appstore_android.svg"
                                                 alt="button_appstore_android.svg"></a></li>
            <li><a routerLink="/pages/about-us" target="_blank"><img src="/assets/images/junk/app-store-icon.svg" alt="app-store-icon.svg"></a>
            </li>
          </ul>
        </div>

        <!---******* input -area *****-->
        <div class="singup-area">
          <h2>Sign Up For Newsletters</h2>
          <form #dataForm="ngForm" (ngSubmit)="onSubmit(dataForm)">
            <label for="input">Get E-mail updates about our latest shop and special offers</label>
            <div class="input-area">
              <input ngModel type="email" name="email" id="input">
              <button type="submit"></button>
            </div>
          </form>
        </div>


      </div>


    </div>
  </div>
</section>

<!---********** footer-bottom-area *********-->

<footer class="footer-bottom-area">
  <div class="container">
    <!------***** footer-bottom-description ********-->

    <div class="footer-bottom-description">
      <p>{{footerData?.aboutEsquire}}
        </p>
    </div>
    <!---***** footer-bottomMidle-area ******-->

    <div class="footer-bottomMidle-area">

      <!----****** footer-bottomMidle-title *******-->

      <div class="footer-bottomMidle-title">
        <h2>Why Esquire Electronics for online buying?</h2>
      </div>
      <!---******** footer-midle-main-area *********-->

      <div class="footer-midle-main">

        <!------******** footer-midle-other-details1 *******-------->
        <div class="footer-midle-other-detaits">
          <!------********* other-detail ******* --->
          <div class="other-detail">
            <h3>{{footerData?.title1}}</h3>
            <p>{{footerData?.title1Des}}</p>
          </div>

        </div>

        <!------******** footer-midle-other-details2 *******-------->
        <div class="footer-midle-other-detaits">
          <!------********* other-detail ******* --->
          <div class="other-detail">
            <h3>{{footerData?.title2}}</h3>
            <p>{{footerData?.title2Des}}
            </p>
          </div>

          <!------********* other-detail ******* --->
          <div class="other-detail">
            <h3>{{footerData?.title3}}</h3>
            <p>{{footerData?.title3Des}}</p>
          </div>
        </div>

        <!------******** footer-midle-other-details3 *******-------->
        <div class="footer-midle-other-detaits">
          <!------********* other-detail ******* --->
          <div class="other-detail">
            <h3>{{footerData?.title4}}</h3>
            <p>{{footerData?.title4Des}}</p>
          </div>
          <div class="other-detail">
            <h3>{{footerData?.title5}}
            </h3>
            <p>{{footerData?.title5Des}}
            </p>
          </div>

        </div>


      </div>
    </div>
    <!---Buy original electronics product by Category-->

    <div class="footer-buy-detail">
      <div class="footer-buy-title">
        <h2>Buy original electronics product by Category</h2>
      </div>
      <div class="footer-buy-description" >
        <p >So,<a *ngFor="let data of footerData?.socialLinks" href="{{data?.value}}">{{data?.type}}</a>
        </p> <br>
        <h3>Keep in Touch with the most trusted Electronics Store – Esquire Electronics Bangladesh. In case of any query, feel free to write us at ecommerce@esquirebd.com or call on 09610001010. You can also find your desired products in our showrooms: Store Locator.</h3>
      </div>
    </div>
    <div class=footer-payment-system>
      <ul>
        <li><span>Easy Payment</span></li>
        <li><a href="javascript:"><img src="/assets/images/junk/mastercard.png" alt=""></a></li>
        <li><a href="javascript:"><img src="/assets/images/junk/visa.png" alt=""></a></li>
        <li><a href="javascript:"><img src="/assets/images/junk/amex.png new.png" alt=""></a></li>
        <li><a href="javascript:"><img src="/assets/images/junk/bkash.png" alt=""></a></li>
        <li><a href="javascript:"><img src="/assets/images/junk/rocket.png" alt=""></a></li>
        <li><a href="javascript:"><img src="/assets/images/junk/cash on delivery.png" alt=""></a></li>
      </ul>
    </div>


  </div>
</footer>
<!---------foooter-area-end-------------->
