<section class="payment-success-area">
  <div class="container">
    <!--******* payment-success-main ******-->
    <div class="payment-success-main">
      <!--******* payment-success-top ********-->
      <div class="payment-success-top">
        <!--******* payment-success-icon ********-->
        <div class="payment-success-icon">
          <span><i class="fa fa-check"></i></span>
        </div>
        <!--******* payment-success-title ********-->
        <div class="payment-success-title">
          <h4>Payment successful</h4>
        </div>
      </div>
      <!--payment-success-details-area-->
<!--      <div class="payment-success-details-area ">-->
<!--        &lt;!&ndash;payment-success-bottom-details&ndash;&gt;-->
<!--        <div class="payment-success-details clearfix">-->
<!--          <div class="left">-->
<!--            <span>Payment type</span>-->
<!--          </div>-->
<!--          <div class="right">-->
<!--            <span>Net banking</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;payment-success-bottom-details&ndash;&gt;-->
<!--        <div class="payment-success-details clearfix">-->
<!--          <div class="left">-->
<!--            <span>Bank</span>-->
<!--          </div>-->
<!--          <div class="right">-->
<!--            <span>HDFC</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;payment-success-bottom-details&ndash;&gt;-->
<!--        <div class="payment-success-details clearfix">-->
<!--          <div class="left">-->
<!--            <span>Mobile</span>-->
<!--          </div>-->
<!--          <div class="right">-->
<!--            <span>8897131444</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;payment-success-bottom-details&ndash;&gt;-->
<!--        <div class="payment-success-details clearfix">-->
<!--          <div class="left">-->
<!--            <span>Email</span>-->
<!--          </div>-->
<!--          <div class="right">-->
<!--            <a href="#">autanber111@gmail.com</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;payment-success-bottom-details&ndash;&gt;-->
<!--        <div class="payment-success-details clearfix my">-->
<!--          <div class="left">-->
<!--            <span class="bold">Amount paid</span>-->
<!--          </div>-->
<!--          <div class="right">-->
<!--            <span class="bold">500.00</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;payment-success-bottom-details&ndash;&gt;-->
<!--        <div class="payment-success-details clearfix">-->
<!--          <div class="left">-->
<!--            <span>Transaction id </span>-->
<!--          </div>-->
<!--          <div class="right">-->
<!--            <span>12546578788</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <!--payment-success-btn-->
      <div class="btn">
        <button routerLink="/account/order-list" mat-raised-button color="primary">View Orders</button>
      </div>


    </div>
  </div>
</section>
