@import'./../../../../theme/variables';
.order-container{
    display: block;
    width: 100%;
    background-color: #f6f9fd;
    padding: 25px 25px;
    box-sizing: border-box;
}
.order-header{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.order-header-main{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.order-header-left{
    max-width: 300px;
    width: 100%;
}
.order-title{
    display: block;
   
}
.order-title h3{
    color: #131523;
    font-family: $font-en-primary-2;
    font-style: normal;
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}
.order-header-right{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}
.order-search{
    display: block;
    max-width: 400px;
    min-width: 250px;
    width: 100%;
    position: relative;
}
.order-search input{
    display: block;
    width: 100%;
    background-color: #eff3fb;
    padding: 8px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #eff3fb;
    color: #9ea2b7;
    font-family: $font-en-primary;
    font-weight: 500;
    font-size: 16px;
    outline: none;
}
.order-search button{
    background-color: #d3dff8;
    color: #6672fb;
    padding: 9px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 17px;
    position: absolute;
    top: 0px;
    outline: none;
    border: 1px solid transparent;
    right: 0px;
}
.order-date-area{
    display: block;
}
.order-date-area ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.order-date-area ul li button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid transparent;
    background-color: #0058ff;
    color: #fff;
    padding: 7px 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    font-family: $font-en-primary;
    border-radius: 5px;
}
.order-main-area{
    display: block;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgb(0 0 0/10%);
    width: 100%;
}
.order-main-top{
    display: block;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #7daafe;
}
.order-main-top ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.order-main-top ul li button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid transparent;
    background-color: #0058ff;
    color: #fff;
    padding: 6px 15px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    font-family: $font-en-primary;
    border-radius: 5px;
}
.order-main-top ul li span{
    background-color: #0058ff;
    color: #fff;
    display: block;
    padding: 6px 10px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 5px;
}
.order-table{
    display: block;
    width: 100%;
    overflow: auto;
}
.order-table table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
}
.order-table table tr{
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
    // width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    border-bottom: 1px solid #eceef0;
}
.order-table table th{
    font-size: 15px;
    font-weight: 700;
    font-family: $font-en-primary-2;
    color: #000;
    padding: 15px 10px;
    box-sizing: border-box;
    text-align: center;
    text-transform: capitalize;
    min-width: 120px;
}
.order-table table td{
    padding: 15px 10px;
    box-sizing: border-box;
    text-align: center;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.order-table table td a{
    color: #0058ff;
    font-family: $font-en-primary-2;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
}
.order-table table td span{
    display: block;
    color: #000000;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
.order-table table td button{
    background-color: #f68c3b;
    padding: 3px 15px;
    box-sizing: border-box;
    border-radius: 20px;
    color: #000000;
    font-family: $font-en-primary-2;
    font-weight: 500;
    outline: none;
    border:none;
    font-size: 15px;

}
.order-table table td i{
    font-size: 17px;
    color: #000000;
}
::ng-deep.order-table .mat-checkbox-frame,::ng-deep.order-table .mat-checkbox-background{
    border-color:#c3daff;
    background-color: #c3daff;
}
::ng-deep.order-table .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #3b86ff!important;
}
.table-indicator{
    padding: 35px 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.table-indicator span{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    color: #fff;
    font-size: 17px;
    font-style: normal;
    border-radius: 50%;
    background-color: #0058ff;
    box-shadow: 0 3px 5px 0 rgb(0 0 0/10%);
}

