<div class="container">

  <div class="form-container form-phone">

    <form #formDirective="ngForm" (ngSubmit)="onPhoneFormSubmit(formDirective)">
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input name="phoneNo" ngModel required matInput placeholder="Phone Number" type="tel" [maxLength]="11">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <button [fxHide]="showVerificationCodeField || otpMatched" mat-raised-button color="warn" type="submit">Recover
        Via Phone Number
      </button>
    </form>
  </div>

  <div class="form-container login-right-part" *ngIf="showVerificationCodeField">

    <form #formDirective="ngForm" (ngSubmit)="onRecoverFormSubmit(formDirective)" autocomplete="off">
      <mat-form-field appearance="outline">
        <mat-label>OTP</mat-label>
        <input name="otp" ngModel required matInput placeholder="OTP" [maxLength]="6">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <div class="bottom-view">
        <!--      [hidden]="countDown === 0"-->
        <div class="count-area" [hidden]="countDown === 0">
          <span class="count-down">{{'0:' + countDown}}</span>
        </div>

        <div class="" fxLayout="row" fxLayoutAlign="space-between center">
          <button fxHide [fxShow]="countDown <= 0" mat-button color="primary" class="button on-float-left"
                  (click)="resendLoginCode()">
            Resend Code
          </button>

          <button mat-raised-button color="warn" class="btn-submit" type="submit">
            Verify Code
          </button>
        </div>
      </div>
    </form>

  </div>

  <div class="form-container login-right-part">
    <form #formDirective="ngForm" *ngIf="otpMatched" (ngSubmit)="onResetFormSubmit(formDirective)" autocomplete="off">
      <mat-form-field appearance="outline" class="password">
        <mat-label>New Password</mat-label>
        <input name="password" ngModel required matInput placeholder="Enter new password" type="password">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="password">
        <mat-label>Confirm Password</mat-label>
        <input name="confirmPassword" ngModel required matInput placeholder="Enter confirm password" type="password">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <button mat-raised-button color="warn" type="submit">Reset Password</button>
    </form>

  </div>

</div>

<!-- NGX SPINNER -->
<ngx-spinner style="width: 100vw; height: 100vh"
             bdColor="rgba(0,0,0,0.25)"
             size="medium"
             color="#fff"
             type="ball-clip-rotate"
             [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

