
.container {
  padding: 40px 0;
}


.form-container {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  //min-height: 16vh;

  form {

    mat-form-field {
      width: 100%;
    }
    button {
      ::ng-deep {
        span {
          color: #FFFFFF;
        }
      }
    }
  }
}

/**
RESPONSIVE
 */

@media only screen and (max-width: 599px) {
  .form-container {
    padding: 0 12px;
  }
}
